<?xml version="1.0" encoding="UTF-8"?>
<Config>
	<!-- 服务器内部数据校验KEY -->
	<Sign>D101C5EFB2FF020307dh965FFE87sks</Sign>
	<!-- 客户端与服务器数据校验KEY -->
	<ProductKey>hellokitty</ProductKey>
   	<ServerList>
		<!--路由服-->
		<Server>
			<Name>router</Name>
			<Address>172.18.31.94:9003</Address>
		</Server>
	</ServerList>
</Config>
