<?xml version="1.0" encoding="UTF-8"?>
<Config>
	<Sign>420e57b017066b44e05ea1577f6e2e12</Sign>
	<ProductKey>helloworld!</ProductKey>
	<CompressPackage>16</CompressPackage>
   	<ServerList>
		<!--路由服-->
		<Server>
			<Name>router</Name>
			<Address>127.0.0.1:9003</Address>
		</Server>
	</ServerList>
</Config>
